<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Edit User</title>
    </head>
    <body>
        <form action="/users/edit/{{user.id}}" method="post">
            {% csrf_token %}
            <h1>Edit User {{user.id}}</h1>
            First name: <input type="text" name="firstName" value="{{user.first_name}}"><br>
            Last name: <input type="text" name="lastName" value="{{user.last_name}}"><br>
            Email: <input type="text" name="email" value="{{user.email}}"><br>
            <input type="submit" value="Update">
        </form>
        <a href="/users">Go back</a>
    </body>
</html>