<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         {% load static %}
        <link rel="stylesheet" href="{% static 'belt_review/css/styles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Review</title>
    </head>
    <body>
        <div id="wrapper">
            <a class="floatRight" href="/logout">| Logout</a><a class="floatRight" href="/books">Home |</a> 
            <h1>{{book.title}}</h1>
            <h2>Author: {{book.author.name}}</h2>
            <h1>Reviews:</h1>
            <div id="addReview">
                <form action="/books/process" method="post" class="form">
                    {% csrf_token %}
                    <h3>Add a Review:</h3>
                    <textarea name="content" class="form-control" rows="5"></textarea>
                    <p>Rating</p>
                    <select class="form-control" id="reviewStars" name="stars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>
                    <input type="hidden" name="author" value="{{book.author.name}}">
                    <input type="hidden" name="title" value="{{book.title}}">
                    <input class="form-control" type="submit" value="Submit Review">
                </form>
            </div>
            {% for review in reviews %}
            <div id="recentBookReviews">
                <h4>Rating: {{review.rating}}/5</h4>
                <a href="/users/{{review.user.id}}"><h4>{{review.user.name}}</a> says: {{review.content}}</h4>
                <h5>{{review.created_at}}</h5>
                {% if request.session.id == review.user.id %}
                    <a href="/books/delete/{{review.id}}">Delete this Review</a>
                {% endif %}
            </div> 
            {% endfor %}
        </div>
    </body>
</html>